@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: Lato;
    src: url("/fonts/Lato-Regular.ttf");
}
strong {
    font-size: 2em;
}
@media (max-width: 680px) {
    strong {
        font-size: 1em;
    }
}
